:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

nav {
  margin: 30px 0;
}

a {
  font-weight: 700;
  color: #7278f9;
  font-size: 14px;
  text-decoration: none;

  cursor: pointer;
}

a:hover {
  color: #5e2b35;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  max-width: 375px;
  min-height: 100vh;
}

h1,
h2,
h3,
p,
button,
a,
input,
textarea {
  font-family: "Courier New", Courier, monospace;
}

h1 {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  margin: 0;
}

h2 {
  font-size: 24px;
  margin-bottom: 0;
}

h3 {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

p {
  font-size: 14px;
  margin: 10px 0;
}

.subtitle {
  font-size: 14px;
  margin-top: 0;
  font-weight: 500;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 5px 15px;
  margin: 5px 5px;
  font-size: 14px;
  font-weight: 500;
  background-color: #b09383;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #5e2b35;
}

td {
  padding: 0 20px;
}

.form-signup,
.form-login,
.form-create-yearcompass,
.form-change-account {
  display: flex;
  flex-direction: column;
}

.form-signup-input,
.form-login-input,
.form-create-compass-input,
.new-email-input {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 5px 15px;
  margin: 10px 5px;
  text-align: center;
}

.signup-button,
.login-button,
.save-button {
  margin: 30px 5px;
  background-color: #b09383;
}

#link-to-delete {
  border: none;
  font-weight: 500;
  background-color: transparent;
  color: #7278f9;
  padding: 0;
  margin: 0 0 0 10px;
}

.compass-card {
  border-radius: 8px;
  /* border: 1px solid rgb(97, 97, 97); */
  border: 1px solid transparent;
  padding: 5px 15px;
  margin: 5px 5px;
  background-color: rgba(255, 255, 255, 0.1);
}

.yearcompassquestions {
  display: flex;
  flex-direction: column;
}

.form-question-xxl-answer {
  border-radius: 8px;
  border: 1px solid transparent;
  background-color: rgb(241, 238, 235);
  color: #213547;
  padding: 20px 10px;
  text-align: center;
  min-width: 300px;
  min-height: 420px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #7278f9;
  }

  input {
    background-color: rgb(241, 238, 235);
  }

  .compass-card {
    border-radius: 8px;
    /* border: 1px solid rgb(201, 201, 201); */
    border: 1px solid transparent;
    padding: 5px 15px;
    margin: 5px 5px;
    background-color: rgb(241, 238, 235);
  }
}
